body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('https://i.pinimg.com/originals/31/be/17/31be17e563ac66d77d8c566526ebb71b.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute; 
}
.batmanDancer{
  width: 50px;
  height: 70px;
  position: absolute;
  content: url(https://www.lego.com/r/www/r/catalogs/-/media/catalogs/characters/lbm%20characters/primary/70900_1to1_batman_360_480.png?l.r=1668006940);
}
.triangleDancer{
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid green;
  position:absolute; 
}